html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100dvh;
  width: 100dvw;
}

html {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    min-width: 320px;
}


header {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

select {
    flex: 0 0 auto;
    width: 100%;
}

textarea {
    box-sizing: border-box;
    flex: 1 1 auto;
    width: 100%;
    resize: none;
}

footer {
    flex: 0 0 auto;
    text-align: center;
}